<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- *ngFor é uma diretiva do angular, ela é capaz de ler uma coleção do controlador
                e repetir os elementos da coleção onde ela está.
          *ngFor="let item of items" esse comando irá percorrer a coleção de items definida no controlador
      (click)="showProdutos() - Para cada categoria, irá exibir os produtos quando clicado -->
      <button ion-item *ngFor="let item of items" (click)="showProdutos(item.id)">
              <ion-thumbnail item-start>
        <img src="{{bucketUrl}}/cat{{item.id}}.jpg">
      </ion-thumbnail>
      <h2>{{ item.nome }}</h2> <!-- Interpolação, vai interpolar o conteúdo do html com do controlador -->
    </button>
  </ion-list>
</ion-content>
